[MASTER]
# Use multiple processes to speed up Pylint
jobs=0

# Pickle collected data for later comparisons
persistent=yes

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages
suggestion-mode=yes

[MESSAGES CONTROL]
# Disable specific messages
disable=
    import-error,
    no-name-in-module,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals

[BASIC]
# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,id,db,app,logger

[FORMAT]
# Maximum number of characters on a single line
max-line-length=120

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=20
